<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Included URDF Files -->
    <xacro:include filename="$(find drone_description)/urdf/drone.xacro" />
    
    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <xacro:drone />


    <gazebo>
      <plugin name="quadrotor_aerodynamics" filename="libhector_gazebo_quadrotor_aerodynamics.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>base_link</bodyName>
        <frameId>$(arg base_link_frame)</frameId>
      </plugin>
    </gazebo>


    <gazebo>
      <plugin name="quadrotor_propulsion" filename="libhector_gazebo_quadrotor_propulsion.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>base_link</bodyName>
        <frameId>$(arg base_link_frame)</frameId>
        <controlRate>100.0</controlRate>
        <controlTolerance>0.01</controlTolerance>
        <controlDelay>0.01</controlDelay>
        <motorStatusRate>0.0</motorStatusRate>
        <triggerTopic></triggerTopic>
        <topicName></topicName>
        <pwmTopicName></pwmTopicName>
        <supplyTopic></supplyTopic>
        <wrenchTopic></wrenchTopic>
        <statusTopic></statusTopic>
      </plugin>
    </gazebo>


        <gazebo>
          <plugin name="quadrotor_imu_sim" filename="libhector_gazebo_ros_imu.so">
            <updateRate>100.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>$(arg base_link_frame)</frameId>
            <topicName>raw_imu</topicName>
            <rpyOffset>0 0 0</rpyOffset> <!-- deprecated -->
            <gaussianNoise>0</gaussianNoise>  <!-- deprecated -->
            <accelDrift>0.1 0.1 0.1</accelDrift>
            <accelGaussianNoise>0.35 0.35 0.3</accelGaussianNoise>
            <rateDrift>0.1 0.1 0.1</rateDrift>
            <rateGaussianNoise>0.05 0.05 0.015</rateGaussianNoise>
          </plugin>

          <plugin name="quadrotor_baro_sim" filename="libhector_gazebo_ros_baro.so">
            <updateRate>10.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>$(arg base_link_frame)</frameId>
            <topicName>pressure_height</topicName>
            <altimeterTopicName>altimeter</altimeterTopicName>
            <offset>0</offset>
            <drift>10.0</drift>
            <gaussianNoise>0.1</gaussianNoise>
          </plugin>

          <plugin name="quadrotor_magnetic_sim" filename="libhector_gazebo_ros_magnetic.so">
            <updateRate>10.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>$(arg base_link_frame)</frameId>
            <topicName>magnetic</topicName>
            <offset>0 0 0</offset>
            <drift>0.0 0.0 0.0</drift>
            <gaussianNoise>1.3e-2 1.3e-2 1.3e-2</gaussianNoise>
          </plugin>

          <plugin name="quadrotor_gps_sim" filename="libhector_gazebo_ros_gps.so">
            <updateRate>4.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>$(arg base_link_frame)</frameId>
            <topicName>fix</topicName>
            <velocityTopicName>fix_velocity</velocityTopicName>
            <referenceLatitude>49.860246</referenceLatitude>
            <referenceLongitude>8.687077</referenceLongitude>
            <drift>5.0 5.0 5.0</drift>
            <gaussianNoise>0.01 0.01 0.01</gaussianNoise>
            <velocityDrift>0 0 0</velocityDrift>
            <velocityGaussianNoise>0.05 0.05 0.05</velocityGaussianNoise>
          </plugin>

          <plugin name="quadrotor_groundtruth_sim" filename="libgazebo_ros_p3d.so">
            <updateRate>100.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>$(arg world_frame)</frameName>
          </plugin>

        </gazebo>


<gazebo reference="laser">
    <sensor type="ray" name="lds_lfcd_sensor">
      <pose>0 0 0 0 0 0</pose>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>6.28319</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>30.0</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>laser</frameName>
      </plugin>
    </sensor>
  </gazebo>

 <gazebo reference="brush">
        <sensor name="collision_sensor" type="contact">
       <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so"> 

            <bumpertopicname>contact</bumpertopicname>
            <framename>world</framename>
            <alwayson>true</alwayson>
            <updaterate>1000.0</updaterate>
        </plugin>
          <always_on>true</always_on>
          <update_rate>1000.</update_rate>
          <contact>
            <collision>brush_collision</collision>
          </contact>
        </sensor>
      </gazebo> 

    <gazebo>
      <plugin name="quadrotor_controller" filename="libgazebo_ros_control.so">
        <controlPeriod>0.01</controlPeriod>
        <robotSimType>hector_quadrotor_controller_gazebo/QuadrotorHardwareSim</robotSimType>
      </plugin>
    </gazebo>

</robot>
  
